---
import { formatDate } from "@utils/date-formatter";
import PhotoLayout from "@layouts/PhotoLayout.astro";
import type { PhotoAlbum } from "@types/api";

export const prerender = false;

const { id } = Astro.params;

const response = await fetch(`http://localhost:8000/api/photos/${id}`);
const data = await response.json();

const { title, image_url: imageSrc, uploaded_at: uploadedAt, albums } = data;

const {
  make,
  model,
  focal_length: focalLength,
  lens,
  aperture,
  shutter,
  iso,
  shot_at: shotAt,
} = data.exif;
---

<PhotoLayout title="Image">
  <article class="h-entry">
    <div id="article-container" class="prose mx-auto">
      <div id="lg-single">
        <img src={imageSrc} alt={title} />
      </div>

      <div class="image-meta font-mono">
        <div class="text-left">
          <div class="e-camera">
            <span class="e-make">{make}</span>
            <span class="e-model">{model}</span>
          </div>
          <div>
            <span class="e-lens">{lens}</span>
          </div>
          <div>
            <span class="e-focal-length">{focalLength}</span>,
            <span class="e-aperture">&fnof;/{aperture}</span>,
            <span class="e-shutter">{shutter}</span>,
            <span class="e-iso">ISO {iso}</span>
          </div>
        </div>

        <div class="text-right">
          {
            title && (
              <div>
                <span class="e-title">{title}</span>
              </div>
            )
          }
          <div>
            <span class="e-uploaded"
              >Uploaded on <time datetime={uploadedAt}
                >{formatDate(uploadedAt)}</time
              ></span
            >
          </div>
          <div>
            <span class="e-taken"
              >Taken on <time datetime={shotAt}>{formatDate(shotAt)}</time
              ></span
            >
          </div>
        </div>
      </div>

      <div class="mx-auto font-serif mt-s">
        <ul>
          <li>
            <a href="/gallery">Back to the gallery</a>
          </li>
          {
            albums.map((album: PhotoAlbum, index: number) => (
              <li>
                <a href={`/gallery/album/${album.slug}`}>
                  Back to the album &lsquo;{album.name}&rsquo;
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </article>
</PhotoLayout>

<style lang="scss">
  .image-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: var(--space-s);
    font-family: var(--font-mono);
    font-size: var(--step--2);
    line-height: var(--line-height-tight);
  }

  .e-title {
    &::before {
      content: "\201C"; // &ldquo;
    }

    &::after {
      content: "\201D"; // &rdquo;
    }

    font-style: italic;
  }

  .e-taken {
    color: var(--gray-10);
  }
</style>

<script>
  import lightGallery from "lightgallery";

  function registerSingleImageLightGallery(element: HTMLElement) {
    const options = {
      speed: 500,
      enableDrag: false,
      counter: false,
    };

    lightGallery(element, options);
  }

  window.onload = () => {
    const element = document.getElementById("lg-single");
    if (element) {
      registerSingleImageLightGallery(element);
    }
  };
</script>
