---
const { title, artist, coverImageUrl, slug } = Astro.props;
---

<li>
  <a href={`/music-collection/album/${slug}`} class="no-underline">
    <img
      src={coverImageUrl}
      alt={`Cover art for ${artist} - ${title}`}
      loading="lazy"
    />
    <div class="a-title">{title}</div>
    <div class="a-artist">{artist}</div>
  </a>
</li>

<style lang="scss">
  img {
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid var(--gray-6);
  }

  .a-title {
    font-weight: bold;
    color: var(--gray-12);
    margin-top: var(--space-3xs);
  }

  .a-artist {
    color: var(--gray-11);
    font-size: var(--step--1);
  }
</style>
