---
import { Content as FinePrintContent } from '../content/site/fine-print.mdx';
import footerMenus from '../content/site/footer-links';
const { navMenu1, navMenu2 } = footerMenus;
---

<footer>
  <div class="wrapper text-step--1">
    <div class="flex repel">
      <div class="fine-print text-step--2">
        <FinePrintContent />
      </div>
      <div class="flex space-x-m">
        <div>
          <ul>
              {navMenu1.map((item) => (
                  <li><a href={item.href} rel={item.rel}>{item.text}</a></li>))}
          </ul>
        </div>
        <div>
          <ul>
              {navMenu2.map((item) => (
                  <li><a href={item.href} rel={item.rel}>{item.text}</a></li>))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--space-3xl);
    border-top: 1px solid var(--gray-6);
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
  }
</style>