---
import { Content as FinePrintContent } from '../content/footer/fine-print.mdx';
import footerMenus from '../content/footer/links';
const { navMenu1, navMenu2 } = footerMenus;
---

<footer>
  <div class="wrapper">
    <div class="grid grid-cols-2">
      <div class="fine-print">
        <FinePrintContent />
      </div>
      <div class="flex space-x-m ml-auto">
        <div>
          <ul>
              {navMenu1.map((item) => (
                  <li><a href={item.href} rel={item.rel}>{item.text}</a></li>))}
          </ul>
        </div>
        <div>
          <ul>
              {navMenu2.map((item) => (
                  <li><a href={item.href} rel={item.rel}>{item.text}</a></li>))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    margin-top: var(--space-3xl);
    border-top: 1px solid var(--gray-6);
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
    font-size: var(--step--1);
  }

  .fine-print {
    font-size: var(--step--2);
  }
</style>