---
import BaseLayout from "./BaseLayout.astro";
import { formatDate } from "../utils/date-formatter";

const { frontmatter } = Astro.props;
const created = frontmatter.created;
const modified = frontmatter.modified;

let createdFmt = "";
let modifiedFmt = "";
if (created) {
  createdFmt = formatDate(created);
}
if (modified) {
  modifiedFmt = formatDate(modified);
}
---

<BaseLayout title={`${frontmatter.title} – Berk Özbalcı`}>
  <article class="h-entry wrapper">
    <div id="article-container" class="prose mx-auto">
      <header class="post-header">
        <h1 class="entry-title">{frontmatter.title}</h1>
        <div class="entry-meta">
          {
            created && (
              <>
                Posted on
                <a href={frontmatter.permalink} rel="bookmark">
                  <time class="entry-date published" datetime={created}>
                    {createdFmt}
                  </time>
                </a>
              </>
            )
          }
          {
            created && modified && (
              <>
                &middot; last updated
                <time class="updated" datetime={modified}>
                  {modifiedFmt}
                </time>
              </>
            )
          }
        </div>
      </header>
      <slot />
    </div>
  </article>
</BaseLayout>
